
@tailwind base;
@tailwind components;
@tailwind utilities;


.buttons
{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 20px;
  left: 0%;
}
@media(max-width:768px){
  .buttons{
    flex-wrap: wrap;
  }
}
.buttons .btn-black{
border: 1px solid #fff;
  padding: 10px 25px;
  border-radius: 20px;
  width: 100%;
  background-color: #000;
  margin-right: 15px;
  margin-bottom: 10px;
}
.buttons .btn-Blue{
  border: 1px solid #fff;

  padding: 10px 25px;
  border-radius: 20px;
  width: 100%;
  background-color: #0400ff;
  margin-right: 15px;
  margin-bottom: 10px;
}
.buttons .btn-Red{
  border: 1px solid #fff;

  padding: 10px 25px;
  border-radius: 20px;
  width: 100%;
  background-color: #ff2121;
  margin-right: 15px;
  margin-bottom: 10px;
}
.buttons .btn-Olive{
  border: 1px solid #fff;

  padding: 10px 25px;
  border-radius: 20px;
  width: 100%;
  background-color: #7c7c00;
  margin-right: 15px;
  margin-bottom: 10px;
}
.buttons .btn-Green{
  border: 1px solid #fff;

  padding: 10px 25px;
  border-radius: 20px;
  width: 100%;
  background-color: #00d700;
  margin-right: 15px;
  margin-bottom: 10px;
}