.logout-page-css{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    height: 100vh;
}
.logout-page-css button{
    margin-top: 30px;
    padding: 12px 24px;
    border: none;
    background-color: #360763;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.logout-page-css .information{
 padding: 20px;
 background-color: #c17eff;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 350px;
 border-radius: 5px;
}
.logout-page-css .information h1{
    margin-bottom: 10px;
    color: #fff;
}
.logout-page-css .information h2{
    margin-bottom: 5px;
    color: #fff;
}
