.about-parent{
    background: url("https://www.geetabarcode.com/images/banner/bg-hero.png");
    background-color: #681619;
}
.happy-client .card{
  padding: 10px;
  background-color: #ffffff3e;
  margin: 5px;
}