.cart-card{
    padding: 20px;
    /* height: 500px; */
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: #ffffff59 0px 5px 15px;
    margin-bottom: 30px;
}
.cart-card .cart-image{
    height: 100%;
}
.cart-content{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 100%;
}
.cart-content h1{
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
}
.cart-content h2{
    font-size: 23px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}
.cart-content h3{
    font-size: 23px;
    color: #ecb101;
    font-weight: 500;
    margin-bottom: 20px;
}
.cart-content .btn{
    border-radius: 0px !important;
}
.cart-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}