.product-detail-div{
    display: flex;
    justify-content:  center;
    align-items: center;

}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.details h3{
    font-size: 55px;
    color: #fff;
    text-align: center;
}
.details p{
    text-align: center;
    font-size: 35px;
    color: rgb(226, 151, 11);
}
.details h4{
    font-size: 45px;
    color: #fff;
    text-align: center;
}
.details .button-div .btn1{
    padding: 10px 20px;
    border: none !important;
    background-color: rgb(3, 3, 94);
    color: #fff;
    border-radius: 10px;
    margin: 0px 20px;
}
.details .button-div .btn2{
    padding: 10px 20px;
    border: none !important;
    background-color: rgb(226, 151, 11);
    color: #fff;
    border-radius: 10px;
    margin: 0px 20px;
}
.product-detail-div .img{
    padding: 20px;
}